.press
{
    outline: 3px solid #c87e1e;
}

#list
{
    background: #ff9f50
}

:visited
{
    color: #98ff01;
}

body
{
    height: 99%;
    width: 99%;
    padding: 30px;
    font-size: 99%
}

*
{
    border: 6px solid #fffeff
}
